@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: #ca7a7a;
  color: #000;
}
.break {
  display: none;
}
